@{
    ViewData["Title"] = "Home Page";
}
<br />
<a id="authorise" href="https://trello.com/1/authorize?return_url=http://localhost:51428/home/boards&key=9d3650d4ae55443c1d6463162016e691&name=BasicTrelloImplementation&response_type=token&scope=write,read&expiration=never">Authorize using Trello</a>
